{% extends "base.html" %}

{% block content %}
<div>
    {% if paused| length!=0 %}
    <h2 class="text-center" style="padding:10px; text-transform: capitalize">Paused</h2>
    <div class="col" style="padding-bottom:20px">
    <table class="table-striped table-bordered" style="width:95%">
        <tr>
            <th style="padding:10px">Name</th><th style="padding:10px">Run Command</th><th style="padding:10px">AutoRemove</th><th style="padding:10px">Up Time</th><th style="padding:10px">Actions</th>
        </tr>
        {% for container in paused %}
        <tr>
            <td style="padding:10px; min-width:20rem">{{ container["Name"] }}</td>
            <td style="padding:10px">{{ container["Command"] }}</td>
            <td style="padding:10px">{{ container["Auto Remove"] }}</td>
            <td style="padding:10px">{{ container["Status"] }}</td>
            <td style="padding:10px">
                <table>
                    <tr>
                        <td><a href="/inspect/{{ container['Id'] }}"><button type="button" class="button-full btn btn-primary">Inspect</button></a></td>
                        <td><a class="show-unpause" href=# data-name="{{ container['Name'] }}" data-url="/unpause/{{ container['Id'] }}"><button type="button" class="button-full btn btn-success">Unpause</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="show-stop" href=# data-name="{{ container['Name'] }}" data-url="/stop/{{ container['Id'] }}"><button type="button" class="button-full btn btn-warning">Stop</button></a></td>
                        <td><a class="show-remove" href=# data-name="{{ container['Name'] }}" data-url="/remove/{{ container['Id'] }}"><button type="button" class="button-full btn btn-danger">Remove</button></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% else %}
    <h2 class="text-center" style="padding:30px 10px 10px 10px; text-transform: capitalize">There are currently no paused containers....</h2>
    {% endif %}
</div>
{% endblock %}