{% extends "base.html" %}

{% block content %}
    <div>
        <h2 class="text-center" style="padding:10px; text-transform: capitalize">{{ unpaused_config["Name"].replace("/", "", 1) }}</h2>
        <div class="col" style="padding-bottom:20px; text-align:center">
            <p> You have <b>UNPAUSED</b> the container <b> {{ unpaused_config["Name"].replace("/", "", 1) }} </b>with id: <b>{{ unpaused_config["Id"] }}</b>.</p>
        </div>
    </div>
    <hr>
{% include "containers/after_commands/after_index.html" %}
{% endblock %}