<div>
    {% if running| length!=0 %}
    <h2 class="text-center" style="padding:10px; text-transform: capitalize">Running</h2>
    <div class="col" style="padding-bottom:20px">
    <table class="table-striped table-bordered">
        <tr>
            <th style="padding:10px">Name</th><th style="padding:10px">Run Command</th><th style="padding:10px">AutoRemove</th><th style="padding:10px">Up Time</th><th style="padding:10px">Actions</th>
        </tr>
        {% for container in running %}
        <tr>
            <td style="padding:10px; min-width:20rem">{{ container["Name"] }}</td>
            <td style="padding:10px">{{ container["Command"] }}</td>
            <td style="padding:10px">{{ container["Auto Remove"] }}</td>
            <td style="padding:10px">{{ container["Status"] }}</td>
            <td style="padding:10px">
                <table>
                    <tr>
                        <td><a href="/containers/inspect/{{ container['Id'] }}"><button type="button" class="button-full btn btn-primary">Inspect</button></a></td>
                        <td><a class="show-pause" href=# data-name="{{ container['Name'] }}" data-url="/containers/pause/{{ container['Id'] }}"><button type="button" class="button-full btn btn-info" onclick="myPauseFunc()">Pause</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="show-stop" href=# data-name="{{ container['Name'] }}" data-url="/containers/stop/{{ container['Id'] }}"><button type="button" class="button-full btn btn-warning">Stop</button></a></td>
                        <td><a class="show-remove" href=# data-name="{{ container['Name'] }}" data-url="/containers/remove/{{ container['Id'] }}"><button type="button" class="button-full btn btn-danger">Remove</button></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if restarting| length!=0 %}
    <h2 class="text-center" style="padding:10px; text-transform: capitalize">Restarting</h2>
    <div class="col" style="padding-bottom:20px">
    <table class="table-striped table-bordered">
        <tr>
            <th style="padding:10px">Name</th><th style="padding:10px">Run Command</th><th style="padding:10px">AutoRemove</th><th style="padding:10px">Up Time</th><th style="padding:10px">Actions</th>
        </tr>
         {% for container in stopped %}
        <tr>
            <td style="padding:10px; min-width:20rem">{{ container["Name"] }}</td>
            <td style="padding:10px">{{ container["Command"] }}</td>
            <td style="padding:10px">{{ container["Auto Remove"] }}</td>
            <td style="padding:10px">{{ container["Status"] }}</td>
            <td style="padding:10px">
                <table>
                    <tr>
                        <td><a class="show-inspect" href=# data-name="{{ container['Name'] }}" data-url="/containers/inspect/{{ container['Id'] }}"><button type="button" class="button-full btn btn-primary">Inspect</button></a></td>
                        <td><a class="show-stop" href=# data-name="{{ container['Name'] }}" data-url="/containers/stop/{{ container['Id'] }}"><button type="button" class="button-full btn btn-warning">Stop</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="show-remove" href=# data-name="{{ container['Name'] }}" data-url="/containers/remove/{{ container['Id'] }}"><button type="button" class="button-full btn btn-danger">Remove</button></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if stopped| length!=0 %}
    <h2 class="text-center" style="padding:10px; text-transform: capitalize">Stopped</h2>
    <div class="col" style="padding-bottom:20px">
    <table class="table-striped table-bordered">
        <tr>
            <th style="padding:10px">Name</th><th style="padding:10px">Run Command</th><th style="padding:10px">AutoRemove</th><th style="padding:10px">Up Time</th><th style="padding:10px">Actions</th>
        </tr>
        {% for container in stopped %}
        <tr>
            <td style="padding:10px; min-width:20rem">{{ container["Name"] }}</td>
            <td style="padding:10px">{{ container["Command"] }}</td>
            <td style="padding:10px">{{ container["Auto Remove"] }}</td>
            <td style="padding:10px">{{ container["Status"] }}</td>
            <td style="padding:10px">
                <table>
                    <tr>
                        <td><a class="show-inspect" href=# data-name="{{ container['Name'] }}" data-url="/containers/inspect/{{ container['Id'] }}"><button type="button" class="button-full btn btn-primary">Inspect</button></a></td>

                    </tr>
                    <tr>
                        <td><a class="show-remove" href=# data-name="{{ container['Name'] }}" data-url="/containers/remove/{{ container['Id'] }}"><button type="button" class="button-full btn btn-danger">Remove</button></a></td>
                        <td><a class="show-restart" href=# data-name="{{ container['Name'] }}" data-url="/containers/restart/{{ container['Id'] }}"><button type="button" class="button-full btn btn-success">Restart</button></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if paused| length!=0 %}
    <h2 class="text-center" style="padding:10px; text-transform: capitalize">Paused</h2>
    <div class="col" style="padding-bottom:20px">
    <table class="table-striped table-bordered">
        <tr>
            <th style="padding:10px">Name</th><th style="padding:10px">Run Command</th><th style="padding:10px">AutoRemove</th><th style="padding:10px">Up Time</th><th style="padding:10px">Actions</th>
        </tr>
        {% for container in paused %}
        <tr>
            <td style="padding:10px; min-width:20rem">{{ container["Name"] }}</td>
            <td style="padding:10px">{{ container["Command"] }}</td>
            <td style="padding:10px">{{ container["Auto Remove"] }}</td>
            <td style="padding:10px">{{ container["Status"] }}</td>
            <td style="padding:10px">
                <table>
                    <tr>
                        <td><a class="show-inspect" href=# data-name="{{ container['Name'] }}" data-url="/containers/inspect/{{ container['Id'] }}"><button type="button" class="button-full btn btn-primary">Inspect</button></a></td>
                        <td><a class="show-stop" href=# data-name="{{ container['Name'] }}" data-url="/containers/stop/{{ container['Id'] }}"><button type="button" class="button-full btn btn-warning">Stop</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="show-remove" href=# data-name="{{ container['Name'] }}" data-url="/containers/remove/{{ container['Id'] }}"><button type="button" class="button-full btn btn-danger">Remove</button></a></td>
                        <td><a class="show-unpause" href=# data-name="{{ container['Name'] }}" data-url="/containers/unpause/{{ container['Id'] }}"><button type="button" class="button-full btn btn-success">Unpause</button></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if data| length!=0 %}
    <h2 class="text-center" style="padding:10px; text-transform: capitalize">Other</h2>
    <div class="col" style="padding-bottom:20px">
    <table class="table-striped table-bordered">
        <tr>
            <th style="padding:10px">Name</th><th style="padding:10px">Run Command</th><th style="padding:10px">AutoRemove</th><th style="padding:10px">Up Time</th><th style="padding:10px">Actions</th>
        </tr>
        {% for container in data %}
        <tr>
            <td style="padding:10px; min-width:20rem">{{ container["Name"] }}</td>
            <td style="padding:10px">{{ container["Command"] }}</td>
            <td style="padding:10px">{{ container["Auto Remove"] }}</td>
            <td style="padding:10px">{{ container["Status"] }}</td>
            <td style="padding:10px">
                <table>
                    <tr>
                        <td><a class="show-inspect" href=# data-name="{{ container['Name'] }}" data-url="/containers/inspect/{{ container['Id'] }}"><button type="button" class="button-full btn btn-primary">Inspect</button></a></td>
                        <td><a class="show-pause" href=# data-name="{{ container['Name'] }}" data-url="/containers/pause/{{ container['Id'] }}"><button type="button" class="button-full btn btn-info">Pause</button></a></td>
                        <td><a class="show-stop" href=# data-name="{{ container['Name'] }}" data-url="/containers/stop/{{ container['Id'] }}"><button type="button" class="button-full btn btn-warning">Stop</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="show-remove" href=# data-name="{{ container['Name'] }}" data-url="/containers/remove/{{ container['Id'] }}"><button type="button" class="button-full btn btn-danger">Remove</button></a></td>
                        <td><a class="show-unpause" href=# data-name="{{ container['Name'] }}" data-url="/containers/unpause/{{ container['Id'] }}"><button type="button" class="button-full btn btn-success">Unpause</button></a></td>
                        <td><a class="show-restart" href=# data-name="{{ container['Name'] }}" data-url="/containers/restart/{{ container['Id'] }}"><button type="button" class="button-full btn btn-success">Restart</button></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
  </div>
    {% if removed_containers | length != 0 %}
    <h2>Removed Containers</h2>
    <div>
        {% for container in removed_containers %}
        <table>
            <tr>
                <td>{{ container["Name"] }}</td><td>{{ container["Run_Command"]}}</td>
            </tr>
        </table>
        {% endfor %}
    </div>
    {% endif %}