{% block sidebar %}
<!-- Bootstrap row -->
<div class="row" id="body-row">
  <!-- Sidebar -->
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
    <!-- d-* hides the Sidebar in smaller devices. Its items can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group sticky-top sticky-offset">
      <!-- Separator with title -->
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>MAIN MENU</small>
      </li>
      <!-- /END Separator -->
      <a href="#" class="bg-dark list-group-item list-group-item-action disabled inactive">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-pie-chart fa-fw mr-3"></span>
          <span class="menu-collapsed ">Overview</span>
        </div>
      </a>
      <!-- Menu with submenu -->
      <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-dashboard fa-fw mr-3"></span>
          <span class="menu-collapsed">System</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id="submenu1" class="collapse sidebar-submenu">
        <a href="/system/overview" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">Overview</span>
        </a>
        <a href="/system/info" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">Info</span>
        </a>
        <a href="/system/df" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">DF</span>
        </a>
        <a href="/system/stats" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">Stats</span>
        </a>
      </div>
      <!-- Menu with submenu -->
      <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-server fa-fw mr-3"></span>
          <span class="menu-collapsed">Containers</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id="submenu2" class="collapse sidebar-submenu">
        <a href="/containers/all" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">All</span>
        </a>
        <a href="/containers/running" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">Running</span>
        </a>
        <a href="/containers/paused" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">Paused</span>
        </a>
        <a href="/containers/stopped" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">Stopped</span>
        </a>
        <a href="/containers/removed" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed">Removed</span>
        </a>
      </div>
      <!-- Menu with submenu -->
      <a href="#submenu3" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-signal fa-fw mr-3"></span>
          <span class="menu-collapsed ">Network</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id="submenu3" class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 1</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 2</span>
        </a>
      </div>

      <!-- Menu with submenu -->
      <a href="#submenu4" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-database fa-fw mr-3"></span>
          <span class="menu-collapsed ">Volumes</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id="submenu4" class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 1</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 2</span>
        </a>
      </div>
      <!-- Menu with submenu -->
      <a href="#submenu5" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-users fa-fw mr-3"></span>
          <span class="menu-collapsed ">Swarm</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id="submenu5" class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 1</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 2</span>
        </a>
      </div>
      <!-- Menu with submenu -->
      <a href="#submenu6" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-download fa-fw mr-3"></span>
          <span class="menu-collapsed ">Images</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id="submenu6" class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 1</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 2</span>
        </a>
      </div>
      <!-- Menu with submenu -->
      <a href="#submenu7" data-toggle="collapse" aria-expanded="false"
        class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-cog fa-fw mr-3"></span>
          <span class="menu-collapsed ">Config</span>
          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id="submenu7" class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 1</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
          <span class="menu-collapsed ">Placeholder 2</span>
        </a>
      </div>
      <!-- Separator with title -->
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>OPTIONS</small>
      </li>
      <!-- /END Separator 
        <a href="#" class="bg-dark list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-calendar fa-fw mr-3"></span>
            <span class="menu-collapsed ">Calendar</span>
          </div>
        </a>
        < Separator without title 
        <li class="list-group-item sidebar-separator menu-collapsed"></li>
        <-- /END Separator -->
      <a href="/help" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-question fa-fw mr-3"></span>
          <span class="menu-collapsed ">Help</span>
        </div>
      </a>
      <a href="#" data-toggle="sidebar-colapse"
        class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span id="collapse-icon" class="fa fa-2x mr-3"></span>
          <span id="collapse-text" class="menu-collapsed">Collapse</span>
        </div>
      </a>
      <!-- Logo -->
      <li class="list-group-item logo-separator d-flex justify-content-center">
        <img src="/static/img/logo-favicon.png" width="30" height="30">
      </li>
    </ul>
    <!-- List Group END-->
  </div>
  <!-- sidebar-container END -->
  {% endblock %}