<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Docker Web UI</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/16x16.png">
  <!-- svg width="168" height="53" xmlns="http://www.w3.org/2000/svg"></1--svg -->
  <!-- CSS only -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/menu_sidebar.css">
  <link rel="stylesheet" href="/static/css/pretty-print-json.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <script src="/static/js/pretty-print-json.js"></script>
  <!-- JS, Popper.js, and jQuery -->
  <script src="/static/js/jquery-3.5.1.min.js"></script>
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script-->
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/bootbox.min.js"></script>
  <script src="/static/js/menu.js"></script>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <!-- Bootstrap NavBar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top"
    style="background: linear-gradient(10deg, rgba(0,212,255,1) 20%, rgba(7,93,150,1) 50%, rgba(9,9,121,1) 85%, rgba(2,0,36,1) 100%)">
    <div>
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">
        <img src="/static/img/logo-pastel-shadows.png" style="max-width:20rem" alt="">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation" style="border: 1px solid rgba(255, 255, 255, 0.6)">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse topmenu" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        {% if section=='overview' %}
        {% elif section=='system'%}
        <li class="nav-item">
          <a class="nav-link" href="/system/overview">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/system/info">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/system/df">df</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/system/stats">Stats</a>
        </li>
        {% elif section=='containers'%}
        <li class="nav-item">
          <a class="nav-link" href="/containers/all">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/containers/running">Running</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/containers/paused">Paused</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/containers/stopped">Stopped</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/containers/removed">Removed</a>
        </li>
        {% elif section=='network'%}
        {% elif section=='volumes'%}
        {% elif section=='swarm'%}
        {% elif section=='images'%}
        {% elif section=='config'%}
        {% endif %}

        <!-- This menu is hidden in bigger devices with d-sm-none. 
         The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
        <li class="nav-item dropdown d-sm-block d-md-none">
          <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
            <a class="dropdown-item" href="#">Overview</a>
            <a class="dropdown-item" href="#">System</a>
            <a class="dropdown-item" href="#">Containers</a>
            <a class="dropdown-item" href="#">Network</a>
            <a class="dropdown-item" href="#">Volumes</a>
            <a class="dropdown-item" href="#">Swarm</a>
            <a class="dropdown-item" href="#">Images</a>
            <a class="dropdown-item" href="#">Config</a>
            <a class="dropdown-item disabled" href="#">Help</a>
          </div>
        </li>
        <!-- Smaller devices menu END -->
      </ul>
      {% if section =='containers' %}
      <form class="form-inline my-2 my-md-0">
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      </form>
      {% endif %}
    </div>
  </nav>
  <!-- NavBar END -->
  <!-- Secondary Inspect Menu starts-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsInspect" aria-controls="navbarsInspect" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button -->

    <div class="collapse navbar-collapse" id="navbarsInspect">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="bg-dark list-group-item list-group-item-action disabled inactive">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa- fa-fw mr-3"></span>
              <span class="menu-collapsed ">Overview</span>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-dark list-group-item list-group-item-action flex-column align-items-start text-white"
            href="#" id="dropdown_inspect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
              class="fa fa-dashboard fa-fw mr-3"></span>System</a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/system/overview">System Overview</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/system/info">Docker Info</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/system/df">Docker df</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/system/stats">Docker Stats</a>
          </div>
        </li>
        <!-- li class="nav-item">
<a class="nav-link disabled inactive" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</li -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-dark list-group-item list-group-item-action flex-column align-items-start text-white"
            href="#" id="dropdown_inspect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
              class="fa fa-server fa-fw mr-3"></span>Containers</a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/containers/all">All</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/containers/running">Running</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/containers/stopped">Stopped</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/containers/paused">Paused</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white"
              href="/containers/removed">Removed</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-dark list-group-item list-group-item-action flex-column align-items-start text-white disable inactive"
            href="#" id="dropdown_inspect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
              class="fa fa-signal fa-fw mr-3"></span>Network</a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Network 1</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Network 2 </a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Network 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-dark list-group-item list-group-item-action flex-column align-items-start text-white disabled inactive"
            href="#" id="dropdown_inspect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
              class="fa fa-database fa-fw mr-3"></span>Volumes</a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Volumes 1</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Volumes 2</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Volumes 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-dark list-group-item list-group-item-action flex-column align-items-start text-white disabled inactive"
            href="#" id="dropdown_inspect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
              class="fa fa-users fa-fw mr-3"></span>Swarm</a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Swarm 1</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Swarm 2</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Swarm 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-dark list-group-item list-group-item-action flex-column align-items-start text-white disabled inactive"
            href="#" id="dropdown_inspect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
              class="fa fa-download fa-fw mr-3"></span>Images</a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Images 1</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Images 2</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Images 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-dark list-group-item list-group-item-action flex-column align-items-start text-white disabled inactive"
            href="#" id="dropdown_inspect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
              class="fa fa-cog fa-fw mr-3"></span>Config</a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Config 1</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Config 2</a>
            <a class="dropdown-item list-group-item list-group-item-action bg-dark text-white" href="#">Config 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/help" class="bg-dark list-group-item list-group-item-action text-white">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-question fa-fw mr-3"></span>
              <span class="menu-collapsed ">Help</span>
            </div>
          </a>
        </li>
    </div>
    </ul>
    </div>
  </nav>
  <!-- Inspect Menu ends-->

  <!-- Bootstrap row -->
  <div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
      <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
      <!-- Bootstrap List Group -->
      <ul class="list-group sticky-top sticky-offset">
        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
          <small>MAIN MENU</small>
        </li>
        <!-- /END Separator -->
        <a href="#" class="bg-dark list-group-item list-group-item-action disabled inactive">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-pie-chart fa-fw mr-3"></span>
            <span class="menu-collapsed ">Overview</span>
          </div>
        </a>
        <!-- Menu with submenu -->
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
          class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-dashboard fa-fw mr-3"></span>
            <span class="menu-collapsed">System</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu1" class="collapse sidebar-submenu">
          <a href="/system/overview" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Overview</span>
          </a>
          <a href="/system/info" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Info</span>
          </a>
          <a href="/system/stats" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">DF</span>
          </a>
          <a href="/system/stats" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Stats</span>
          </a>
        </div>
        
        <!-- Menu with submenu -->
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
          class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-server fa-fw mr-3"></span>
            <span class="menu-collapsed">Containers</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu1" class="collapse sidebar-submenu">
          <a href="/containers/all" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">All</span>
          </a>
          <a href="/containers/running" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Running</span>
          </a>
          <a href="/containers/paused" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Paused</span>
          </a>
          <a href="/containers/stopped" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Stopped</span>
          </a>
          <a href="/containers/removed" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Removed</span>
          </a>
        </div>
        <!-- Menu with submenu -->
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
          class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-signal fa-fw mr-3"></span>
            <span class="menu-collapsed ">Network</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu2" class="collapse sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 1</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 2</span>
          </a>
        </div>

        <!-- Menu with submenu -->
        <a href="#submenu3" data-toggle="collapse" aria-expanded="false"
          class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-database fa-fw mr-3"></span>
            <span class="menu-collapsed ">Volumes</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu3" class="collapse sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 1</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 2</span>
          </a>
        </div>
        <!-- Menu with submenu -->
        <a href="#submenu4" data-toggle="collapse" aria-expanded="false"
          class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-users fa-fw mr-3"></span>
            <span class="menu-collapsed ">Swarm</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu4" class="collapse sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 1</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 2</span>
          </a>
        </div>
        <!-- Menu with submenu -->
        <a href="#submenu5" data-toggle="collapse" aria-expanded="false"
          class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-download fa-fw mr-3"></span>
            <span class="menu-collapsed ">Images</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu5" class="collapse sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 1</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 2</span>
          </a>
        </div>
        <!-- Menu with submenu -->
        <a href="#submenu6" data-toggle="collapse" aria-expanded="false"
          class="bg-dark list-group-item list-group-item-action flex-column align-items-start disabled inactive">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-cog fa-fw mr-3"></span>
            <span class="menu-collapsed ">Config</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu6" class="collapse sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 1</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed ">Placeholder 2</span>
          </a>
        </div>
        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
          <small>OPTIONS</small>
        </li>
        <!-- /END Separator 
        <a href="#" class="bg-dark list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-calendar fa-fw mr-3"></span>
            <span class="menu-collapsed ">Calendar</span>
          </div>
        </a>
        < Separator without title 
        <li class="list-group-item sidebar-separator menu-collapsed"></li>
        <-- /END Separator -->
        <a href="#" class="bg-dark list-group-item list-group-item-action disabled inactive">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-question fa-fw mr-3"></span>
            <span class="menu-collapsed ">Help</span>
          </div>
        </a>
        <a href="#" data-toggle="sidebar-colapse"
          class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span id="collapse-icon" class="fa fa-2x mr-3"></span>
            <span id="collapse-text" class="menu-collapsed">Collapse</span>
          </div>
        </a>
        <!-- Logo -->
        <li class="list-group-item logo-separator d-flex justify-content-center">
          <img src="/static/img/logo-favicon.png" width="30" height="30">
        </li>
      </ul>
      <!-- List Group END-->
    </div>
    <!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col py-3">

      <!-- System Data -->
      <div class="row">
        <div class="col-sm-4" style="background-color: white;">
          <h2>Host System Data</h2>
          <table id="system-table">
            <thead>
              <tr>
                <th scope="col">Basic</th>
              </tr>
            </thead>
            <tbody style="border-left: 10px solid white;">
              <tr>
                <td id="row-title">Platform</td>
                <td id="row-content">{{ system['platform'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Platform Release</td>
                <td id="row-content">{{ system['platform-release'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Platform Version</td>
                <td id="row-content">{{ system['platform-version'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Architecture</td>
                <td id="row-content">{{ system['architecture'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Hostname</td>
                <td id="row-content">{{ system['hostname'] }}</td>
              </tr>
              <tr>
                <td id="row-title">IP Address</td>
                <td id="row-content">{{ system['ip-address'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Mac Address</td>
                <td id="row-content">{{ system['mac-address'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Processor</td>
                <td id="row-content">{{ system['processor'] }}</td>
              </tr>
              <tr>
                <td id="row-title">RAM</td>
                <td id="row-content">{{ system['ram'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Boot Time</td>
                <td id="row-content">{{ system['boot-time'] }}</td>
              </tr> 
              <!--<tr>
                <td id="row-title"></td>
                <td id="row-content">{\{  }}</td>
              </tr> -->
            </tbody>
            <thead>
              <tr>
                <th scope="col">CPU</th>
              </tr>
            </thead>
            <tbody style="border-left: 10px solid rgb(7, 93, 150, 1); background-color: rgba(7, 93, 150, 0.200);">
              <tr>
                <td id="row-title">Physical Cores</td>
                <td id="row-content">{{ system['cpu']['physical_cores'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Total Cores</td>
                <td id="row-content">{{ system['cpu']['total_cores'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Max Frequency</td>
                <td id="row-content">{{ system['cpu']['max _frequency'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Min Frequency</td>
                <td id="row-content">{{ system['cpu']['min_frequency'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Current Frequency</td>
                <td id="row-content">{{ system['cpu']['current_frequency'] }}</td>
              </tr>
              {% for i in system['cpu']['cores'] %}
              <tr>
                <td id="row-title" style="text-transform: capitalize;">{{ i }}</td>
                <td id="row-content">{{ system['cpu']['cores'][i] }}%</td>
              </tr>
              {% endfor %}
              <tr>
                <td id="row-title">Total CPU Usage</td>
                <td id="row-content">{{ system['cpu']['totalcpu_usage'] }}</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col">Memory</th>
              </tr>
            </thead>
            <tbody style="border-left: 10px solid rgb(40, 150, 7); background-color: rgba(40, 150, 7, 0.200)">
              <tr>
                <td id="row-title">Total</td>
                <td id="row-content">{{ system['memory']['total'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Available</td>
                <td id="row-content">{{ system['memory']['available'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Used</td>
                <td id="row-content">{{ system['memory']['used'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Percentage Used</td>
                <td id="row-content">{{ system['memory']['percentage'] }}%</td>
              </tr>
              <tr>
                <td id="row-title">Swap Total</td>
                <td id="row-content">{{ system['memory']['swap_total'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Swap Free</td>
                <td id="row-content">{{ system['memory']['swap_free'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Swap Used</td>
                <td id="row-content">{{ system['memory']['swap_used'] }}</td>
              </tr>
              <tr>
                <td id="row-title">Swap Percentage Used</td>
                <td id="row-content">{{ system['memory']['swap_percentage'] }}%</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col">Network Information</th>
              </tr>
            </thead>
            <tbody style="border-left: 10px solid rgb(150, 140, 7); background-color: rgba(150, 140, 7, 0.200)">
              <tr>
                <td style="text-align: left;"><b>Networks</b></td>
                <td></td>
              </tr>
              {% for i in system['network']['interfaces'] %}
              <tr>
                <td id="row-title">Name</td>
                <td id="row-content">{{ i['name'] }}</td>
              </tr>
              {% if i['ip_address']%}
              <tr>
                <td id="row-title">IP Address</td>
                <td id="row-content">{{ i['ip_address'] }}</td>
              </tr>
              {% else %}
              <tr>
                <td id="row-title">Mac Address</td>
                <td id="row-content">{{ i['mac_address'] }}</td>
              </tr>
              {% endif %}
              <tr>
                <td id="row-title">Netmask</td>
                <td id="row-content">{{ i['netmask'] }}</td>
              </tr>
              {% if i['broadcast_ip'] %}
              <tr style="border-bottom: 2px solid grey;">
                <td id="row-title">Broadcast IP</td>
                <td id="row-content">{{ i['broadcast_ip'] }}</td>
              </tr>
              {% elif i['broadcast_mac'] %}
              <tr style="border-bottom: 2px solid grey;">
                <td id="row-title">Broadcast MAC</td>
                <td id="row-content">{{ i['broadcast_mac'] }}</td>
              </tr>
              {% else %}
              <tr style="border-bottom: 2px solid grey;">
                <td></td><td></td>
              </tr>
              {% endif %}
              {% endfor %}
              </tbody>
              <thead>
                <tr>
                  <th scope="col">GPU </th>
                </tr>
              </thead>
              <tbody style="border-left: 10px solid rgb(224, 43, 185); background-color: rgba(224, 43, 185, 0.200)">
                {% if system['gpus'] %}
                <tr>
                  <td style="text-align: left;"><b>GPUs</b></td>
                  <td></td>
                </tr>
                {% for i in system['gpus'] %}
                <tr>
                  <td id="row-title">ID</td>
                  <td id="row-content">{{ i['id'] }}</td>
                </tr>
                <tr>
                  <td id="row-title">Name</td>
                  <td id="row-content">{{ i['name'] }}</td>
                </tr>
                <tr>
                  <td id="row-title">Load</td>
                  <td id="row-content">{{ i['load'] }}</td>
                </tr>
                <tr>
                  <td id="row-title">Used Memory</td>
                  <td id="row-content">{{ i['used_memory'] }}</td>
                </tr>
                <tr>
                  <td id="row-title">Total Memory</td>
                  <td id="row-content">{{ i['total_memory'] }}</td>
                </tr>
                <tr>
                  <td id="row-title">Temperature</td>
                  <td id="row-content">{{ i['temperature'] }}</td>
                </tr>
                <tr>
                  <td id="row-title">Name</td>
                  <td id="row-content">{{ UUID }}</td>
                </tr>
                <tr style="border-bottom: 2px solid grey;">
                  <td id="row-title">UUID</td>
                  <td id="row-content">{{ i['uuid'] }}%</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td id="row-title" colspan="2">There are no GPUs on this system</td>
                </tr>
                {% endif %}
                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Disk Usage</th>
                  </tr>
                </thead>
                <tbody style="border-left: 10px solid white;">
                  <tr>
                    <td style="text-align: left;"><b>Partitions</b></td>
                    <td></td>
                  </tr>
                  {% for i in system['disk_usage']['partitions'] %}
                  <tr>
                    <td id="row-title">Device</td>
                    <td id="row-content">{{ i['device']}}</td>
                  </tr>
                  <tr>
                    <td id="row-title">Mount Point</td>
                    <td id="row-content">{{ i['mountpoint'] }}</td>
                  </tr>
                  <tr>
                    <td id="row-title">File System Type</td>
                    <td id="row-content">{{ i['file_system_type'] }}</td>
                  </tr>
                  <tr>
                    <td id="row-title">Total Size</td>
                    <td id="row-content">{{ i['total_size'] }}</td>
                  </tr>
                  <tr>
                    <td id="row-title">Partition Used</td>
                    <td id="row-content">{{ i['partition_used'] }}</td>
                  </tr>
                  <tr>
                    <td id="row-title">Free</td>
                    <td id="row-content">{{ i['free'] }}</td>
                  </tr>
                  <tr style="border-bottom: 2px solid grey;">
                    <td id="row-title">Percentage Used</td>
                    <td id="row-content">{{ i['percentage'] }}%</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td id="row-title">Total Read</td>
                    <td id="row-content">{{ system['disk_usage']['total_read'] }}</td>
                  </tr>
                  <tr>
                    <td id="row-title">Total Write</td>
                    <td id="row-content">{{ system['disk_usage']['total_write'] }}</td>
                  </tr>
                </tbody>
          </table>
        </div>
        <div class="col-sm-8" style="background-color:pink;">
          <h2>Docker System Data</h2>
          <p>{{ usage_user_mode }}
            {{ core_cpu_usage }}
          </p>
        </div>
      </div>
      <!-- System Data END -->
    </div>
    <!-- Main Col END -->

  </div>
  <!-- body-row END -->
  <script src="/static/js/popup_confirmations.js"></script>
  <script type="text/javascript">
    $(function () {
      // this will get the full URL at the address bar
      var url = window.location.href;
      // console.log(url);

      // passes on every "a" tag
      $(".topmenu a").each(function () {
        //var full_url = '127.0.0.1:5000'.concat(this.href);
        //console.log(this.href);
        //console.log(full_url);
        // checks if its the same on the address bar
        if (url == (this.href)) {
          $(this).closest("li").addClass("active");
          //for making parent of submenu active
          $(this).closest("li").parent().parent().addClass("active");
        }
      });
    });
  </script>
</body>

</html>