body {
    padding-top: 148px;
}

.sticky-offset {
    top: 148px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

#dropdown_inspect {
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.topmenu ul li.active a/*, .topmenu ul li a:hover*/ {
    text-decoration:none;
    color:#fff;
    text-decoration: underline;
    /*background:url(../images/menu_a.jpg) no-repeat center top;*/
}

div a .inactive, a div .inactive, a div .inactive a{
    color: grey!important;
}

#sidebar-container .list-group .inactive,  div li .inactive {
    height: 50px;
    color: rgb(90, 90, 90)!important;
}

.fixed-inspect-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 148px;
}