{% extends "base.html" %}

{% block content %}
<div>
    {% if stopped| length!=0 %}
    <h2 class="text-center" style="padding:10px; text-transform: capitalize">Stopped</h2>
    <div class="col" style="padding-bottom:20px">
    <table class="table-striped table-bordered">
        <tr>
            <th style="padding:10px">Name</th><th style="padding:10px">Run Command</th><th style="padding:10px">AutoRemove</th><th style="padding:10px">Up Time</th><th style="padding:10px">Actions</th>
        </tr>
        {% for container in stopped %}
        <tr>
            <td style="padding:10px; min-width:20rem">{{ container["Name"] }}</td>
            <td style="padding:10px">{{ container["Command"] }}</td>
            <td style="padding:10px">{{ container["Auto Remove"] }}</td>
            <td style="padding:10px">{{ container["Status"] }}</td>
            <td style="padding:10px">
                <table>
                    <tr>
                        <td><a href="/containers/inspect/{{ container['Id'] }}"><button type="button" class="button-full btn btn-primary">Inspect</button></a></td>
                        <td><a class="show-restart" href=# data-name="{{ container['Name'] }}" data-url="/containers/restart/{{ container['Id'] }}"><button type="button" class="button-full btn btn-success">Restart</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="show-remove" href=# data-name="{{ container['Name'] }}" data-url="/containers/remove/{{ container['Id'] }}"><button type="button" class="button-full btn btn-danger">Remove</button></a></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% else %}
    <h2 class="text-center" style="padding:30px 10px; text-transform: capitalize">There are currently no stopped containers....</h2>
    {% endif %}
</div>
{% endblock %}