{% extends "base.html" %}

{% block content %}
    <div>
        <h2 class="text-center" style="padding:10px; text-transform: capitalize">{{ removed_config["Name"].replace("/", "", 1) }}</h2>
        <div class="col" style="padding-bottom:20px; text-align:center">
            <p> You have removed the container <b> {{ removed_config["Name"].replace("/", "", 1) }} </b>with id: <b>{{ removed_config["Id"] }}</b>.</p>
            <p style="color:red">{{ msg }}</p>
        </div>
    </div>
    <hr>
{% include "after_commands/after_index.html" %}
{% endblock %}
